body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

p {
  font-family: 'Monsterrat', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.button {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.button:hover {
  transform: scale(1.5);
}

.active{
  z-index: 1;
}

.switcher {
  position: fixed;
  right: 100px;
}

.container {
  position: relative;
  top: -25vh;
  display: flex;
  justify-content: center;
}

.outer {
  position: relative;
  display: flex;
  justify-content: center;
}

.inner {
  position: absolute;
  height: 50vh;
  width: 50vw;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.col {
  position: relative;
  margin: 2rem;
  justify-content: center;
}

.stopwatch-display {
  width: 4rem;
  text-align: center;
}

.cite {
  font-size: 1rem;
  position: fixed;
  bottom: 5%;
}
