/* General */

.bottom {
  padding: 1% 1%;
}

/* Specific */

.greeting {
  /* padding-top: 56px; */
  margin: 15% 0;
}

@media screen and (max-width: 600px) {
  .greeting {
    padding: 20% 0;
  }
}

.intro-primary {
  font-size: 4rem;
  padding-bottom: 1%;
}
