/* General */

.bottom {
  padding: 1% 1%;
}

/* Specific */

.greeting {
  /* padding-top: 56px; */
  margin: 20% 0;
}

.intro-primary {
  font-size: 4rem;
  padding-bottom: 1%;
}


/* Playground */

.playground-content {
  
}
